:root {
  --color-principal: #f5e6d3;
  --color-secundario: #8b4513;
  --color-terciario: #87a96b;
  --color-acento: #d4a437;
  --color-fondo: #a0522d;
  --color-negro: #333;
  --font-titulares: "Playfair Display", Georgia, serif;
}

.contenerdor{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contenedor h1 {
  text-align: center;
    color: var(--color-secundario);
    padding: 1rem;
}